@{
    ViewBag.Title = "About";
}
<meta name="description" content="The Milestones Center for Addiction Management is a world class establishment for individuals who recognize that psychoactive substance addiction has become a serious problem in their lives and have chosen the path of recovery. " />

<div class="register">
     <h2><img src="~/Images/Group-Cluster.png"/></h2>
    <h2>About Us</h2><hr /><br />
    <p style="font-size: 10pt; padding-right: 50px; padding-left: 50px; text-align: justify; ">
                    The Milestones Center for Addiction Management is a world class establishment for individuals who recognize that psychoactive substance addiction has become a serious problem in their lives and have chosen the path of recovery.
                   <br />
                    <br />
                    Our staff is made up of a multidisciplinary team of trained addiction counselors who work with our clients. All our clients are treated with respect and dignity and managed in a nonjudgmental and supportive manner at all times. 
                   <br />
                    <br />
                    While the therapists play an important role in addiction management, we believe interventions are most successful when the client is motivated to take responsibility for their recovery. 
                    At Milestones Center for Addiction Management, we believe that Recovery from Drug Addiction is Possible, though challenging, and our clients continue to prove this belief true.
                </p>
</div>