@{
    ViewBag.Title = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="register">
    <h2><img src="~/Images/Maps.png" /></h2>
    <h2>Our Location.</h2><hr /><br />
    <p>
        <strong>The Center is Located at:</strong><br />
    </p>
    <p style="padding-left:30px;">
        No. 1 Libya Road, Barnawa Phase I,<br />
        Barnawa, Kaduna - Nigeria.
    </p><br />
    <p>
        <strong>Contact Information:</strong><br />
        <img src="~/Images/Mail.png" /><span><a href="mailto:info@milestonescenter.org">info@milestonescenter.org</a></span><br />
        <img src="~/Images/Phone2.png" /><span> 07032300802, 07063564081</span>
    </p>
</div>
