@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta name="description" content="Services offered at milestones center include: Counseling,Comprehensive Assessment Program,Detoxification Program,Structured Family Therapy Programs and more"/>
<header>
    <link href="~/TinyAccordion/style.css" rel="stylesheet" />
</header>
<div class="register">
    <h2>
        <img src="~/Images/Doctor(1).png" /></h2>
    <h2>Our Services.</h2>
    <hr />
    <br />
    <p style="font-size: 13pt; text-align: center">
        At <strong>Milestones Addiction Management Center</strong>  we offer the following Services:

    </p>
    <div>
        <ul class="acc" id="acc" style="list-style: square">
            <li style="margin-bottom: -2em">
                <h3 style="text-align: left; font-size: 12pt;">▪<a style="text-decoration: none; padding-left: 30px">Screening</a></h3>
                <div class="acc-section">
                    <div class="acc-content" style="margin-bottom: 1em;">
                        <p style="font-size: 10.5pt;">
                            Not all use of psychoactive substances constitute a disorder.
                            <br />
                            <br />
                            Problem use of Alcohol and other drugs may not be immediately apparent to the user.<br />
                            <br />
                            Screening allows the management team and the client to objectively answer the question; 
                            <pre>“Is there a problem with my use of alcohol or other drugs”</pre>

                        </p>
                        <p style="font-size: 10.5pt;">
                            Screening can be done online by the client themselves or at our center.<br />
                            <br />
                            <pre>DURATION:  5-10 minutes</pre>
                            <br />
                            <br />
                            <a href="~/Home/ScreeningTest" class="btn btn-success">Take a screening test.</a>

                        </p>

                    </div>
                </div>
            </li>
            <li style="margin-bottom: -2em">
                <h3 style="text-align: left; font-size: 12pt;">▪<a style="text-decoration: none; padding-left: 30px">Comprehensive Assessment Program</a></h3>
                <div class="acc-section">
                    <div class="acc-content" style="margin-bottom: 1em;">
                        <div style="font-size: 10.5pt;">
                            <p style="font-size: 10.5pt;">
                                Assuming there is a problem, the assessment process allows the therapeutic team to ascertain the severity of the problem and its effects on different areas of the clients life.<br />
                                <br />
                                The assessment process is a collaborative effort between our therapists and clients which end in the generation of a management plan*.<br />
                                <br />
                                <strong>Assessment includes:</strong>
                                <br />
                            </p>

                            <div>
                                <p style="font-size: 10pt;">▪&nbsp; Medical Conditions and Complications (including co occurring psychiatric disorders)</p>
                                <p style="font-size: 10pt;">▪&nbsp; Clients' motivation/readiness to change</p>
                                <p style="font-size: 10pt;">▪&nbsp;Physical, sensory or Mobility Limitations</p>
                                <p style="font-size: 10pt;">▪&nbsp; Relapse history and potential </p>
                                <p style="font-size: 10pt;">▪&nbsp;Substance abuse dependence</p>
                                <p style="font-size: 10pt;">▪&nbsp;Developmental and cognitive issues</p>
                                <p style="font-size: 10pt;">▪&nbsp; Family and social support</p>
                                <p style="font-size: 10pt;">▪&nbsp;  Dependent Children</p>
                                <p style="font-size: 10pt;">▪&nbsp;  Trauma and Violence</p>
                                <p style="font-size: 10pt;">▪&nbsp;management History </p>
                                <p style="font-size: 10pt;">▪&nbsp; Strengths and Resources</p>
                            </div>
                            <p>
                                <pre> Duration: 3-5hours</pre>
                            </p>
                            <hr />
                            <p style="font-size: 8pt;">
                                *Before a management Plan is developed, results of assessment are used to recommend appropriate<br />
                                level of care/program
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li style="margin-bottom: -2em">
                <h3 style="text-align: left; font-size: 12pt;">▪<a style="text-decoration: none; padding-left: 30px">Detoxification Program</a></h3>
                <div class="acc-section">
                    <div class="acc-content" style="margin-bottom: 1em;">
                        <p style="font-size: 10pt;">
                            Detoxification is often a key first step in the process of recovery for our clients. 
                                                      
                        </p>
                        <br />
                        <p style="font-size: 10pt;">
                            To us at Milestones, detoxification is successful when a client enters, remains in and complies with program protocol of an addiction management program after detoxification.
                        </p>
                        <br />
                        <p style="font-size: 10pt;">
                            Our residential detoxification program includes 24 hour supervision by therapeutic staff with intensive addiction counseling services and access to medical services.
                            <pre>Duration: Minimum 30 days</pre>
                        </p>
                    </div>
                </div>
            </li>
            <li style="margin-bottom: -2em">
                <h3 style="text-align: left; font-size: 12pt;">▪<a style="text-decoration: none; padding-left: 30px">Non Residential Structured Program</a></h3>
                <div class="acc-section">
                    <div class="acc-content" style="margin-bottom: 1em;">
                        <p style="font-size: 10pt;">
                            <strong>For clients who:</strong>
                        </p>
                        <p style="font-size: 10pt; padding-left:10px;">
                            ▪&nbsp;&nbsp;are able to arrive at the center for scheduled programs
                        </p>
                        <p style="font-size: 10pt;padding-left:10px;">
                             ▪&nbsp;&nbsp;are able and willing to follow program recommendations
                        </p>
                        <p style="font-size: 10pt;">
                            Assessment suggests that outpatient programs are suitable and likely to be effective,
                        </p>
                        <p style="font-size: 10pt;">
                                                   
                          <pre>We offer a 12 week outpatient intensive structured program.</pre>
                           
                        </p><br />
                        <p style="font-size: 10pt;">
                            <strong>The program components include: </strong>
                        </p>
                        <p style="font-size: 10pt; padding-left:10px;">
                           ▪&nbsp;&nbsp; Weekly individual coping skills and relapse prevention sessions
                        </p>
                        <p style="font-size: 10pt; padding-left:10px;">
                           ▪&nbsp;&nbsp; Weekly group therapy sessions
                        </p>

                        <p style="font-size: 10pt; padding-left:10px;">
                            ▪&nbsp;&nbsp;Support group services.
                        </p>
                        <p>
                            <pre>Duration: 12 weeks</pre>
                        </p>
                    </div>
                </div>
            </li>
            <li style="margin-bottom: -2em">
                <h3 style="text-align: left; font-size: 12pt;">▪<a style="text-decoration: none; padding-left: 30px">Residential Therapeutic Program</a></h3>
                <div class="acc-section">
                    <div class="acc-content" style="margin-bottom: 1em;">
                        <p style="font-size: 10pt;">
                               Residential Therapeutic Programs are recommended for clients who require structured living, peer support, highly intensive counseling and behavioral therapies offered in a therapeutic environment
                        </p><br />
                        <p style="font-size: 10pt;">
                            Daily life in our Residential Therapeutic Program are highly structured to assist the client learn and incorporate functional life skills, relapse prevention techniques, a sense of personal responsibility and critical reasoning skills needed to manage specific personal life problems.
                        </p><br />
                       <p style="font-size: 10pt;">
                        <strong>Daily programs include:</strong> Coping skills training, psycho education sessions, spiritual therapy, relapse prevention, support group meetings and recreational therapy.
                       </p><br />
                        <p style="font-size: 10pt;">
                            <pre>Duration: Minimum 4months</pre>
                        </p>
                    </div>
                </div>
            </li>
            <li style="margin-bottom: -2em">
                <h3 style="text-align: left; font-size: 12pt;">▪<a style="text-decoration: none; padding-left: 30px">Structured Family Therapy Programs</a></h3>
                <div class="acc-section">
                    <div class="acc-content" style="margin-bottom: 1em;">
                      <p style="font-size: 10pt;">
                              Often times problems in family functioning contribute to the initiation and or maintenance of problem psychoactive substance use.

                        </p><br />
                        <p style="font-size: 10pt;">
                            Structured Family Therapy Programs are offered as an integral part of our Residential Therapeutic Program or for 
                        </p><br />
                       <p style="font-size: 10pt;">
                       <strong>Family Therapy Programs include:</strong>  Up to Six family psychotherapy sessions, and individual family member therapy sessions.

                       </p><br />
                        <p style="font-size: 10pt;">
                            <pre>Duration: Minimum 6weeks</pre>
                        </p>
                    </div>
                </div>
            </li>
            <li style="margin-bottom: -2em">
                <h3 style="text-align: left; font-size: 12pt;">▪<a style="text-decoration: none; padding-left: 30px">Family Intervention</a></h3>
                <div class="acc-section">
                    <div class="acc-content" style="margin-bottom: 1em;">
                        <p style="font-size: 10pt;">
                             Family Intervention, in this context is an orchestrated attempt by family (and sometimes close friends) to get someone to seek professional help with their addiction problem. 


                        </p><br />
                        <p style="font-size: 10pt;">
                            The Family Intervention underlies the need for the entire family unit to change in an effort for everyone (not just the individual with an addiction problem) to get healthy.

                        </p><br />
                       <p style="font-size: 10pt;">
                      Plans for an intervention are made with family members prior to the intervention itself.


                       </p><br />
                        <p style="font-size: 10pt;">
                            <pre>DURATION: As needed.</pre>
                        </p>
                    </div>
                </div>
            </li>
            <li style="margin-bottom: -2em">
                <h3 style="text-align: left; font-size: 12pt;">▪<a style="text-decoration: none; padding-left: 30px">Counseling</a></h3>
                <div class="acc-section">
                    <div class="acc-content" style="margin-bottom: 1em;">
                       <p style="font-size: 10pt;">
                             General Counseling programs are non structured addiction counseling services offered to clients who do not yet require other more structured services offered at the center. 

                        </p><br />
                        <p style="font-size: 10pt;">
                            General Counseling programs focus on; motivational enhancement, problem solving and relapse prevention


                        </p><br />
                      
                        <p style="font-size: 10pt;">
                            <pre>Duration: Open ended</pre>
                        </p>
                    </div>
                </div>
            </li>
            <li style="margin-bottom: -2em">
                <h3 style="text-align: left; font-size: 12pt;">▪<a style="text-decoration: none; padding-left: 30px">Post Management Follow up.</a></h3>
                <div class="acc-section">
                    <div class="acc-content" style="margin-bottom: 1em;">
                      <div style="font-size: 10.5pt;">
                            <p style="font-size: 10.5pt;">
                                For Clients who complete their management program, we offer follow up services which include:

                                <br />
                            </p>

                            <div>
                                <p style="font-size: 10pt;padding-left:10px">▪&nbsp; Scheduled meetings with counselor</p>
                                <p style="font-size: 10pt;padding-left:10px">▪&nbsp; Motivation and Support Program</p>
                                <p style="font-size: 10pt;padding-left:10px">▪&nbsp;Recovery Assistance programs</p>
                                <p style="font-size: 10pt;padding-left:10px">▪&nbsp; Crisis Intervention Programs </p>
                                
                            </div>
                            <p>
                                <pre> Duration: Lifetime</pre>
                            </p>
                            
                            
                        </div>
                    </div>
                </div>
            </li>
            <li style="margin-bottom: -2em">
                <h3 style="text-align: left; font-size: 12pt;">▪<a style="text-decoration: none; padding-left: 30px">Crisis Intervention</a></h3>
                <div class="acc-section">
                    <div class="acc-content" style="margin-bottom: 1em;">
                       <p style="font-size: 10pt;">
                            Relapse is a reality in addiction management, we realize that often times a client may require multiple management interventions to be able to achieve long-term recovery. 
                        </p><br />
                        <p style="font-size: 10pt;">
                           Often times, an incidence of relapse may result in the client being in a situation where they constitute a danger to themselves or to others around them. 
                       </p><br />
                       <p style="font-size: 10pt;">
                           Clients who are enrolled in our ongoing crisis intervention program, have 24 hour access to our Crisis Intervention Counselors who work to get the client out of imminent crisis and to a place where recovery (management reinitiation if necessary) is a possibility.

                        </p><br />
                        <p style="font-size: 10pt; font-style:italic">
                         <strong>Crisis Intervention Programs are available only to clients who have completed their management program</strong> 

                       </p><br />
                      
                        <p style="font-size: 10pt;">
                            <pre>Duration: ONGOING PROGRAM</pre>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
